body {
  margin: 0;
}

.container {
  min-width: 320px;
  color: palevioletred;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.4em 0;
  width: 22%;
  line-height: 20px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid palevioletred;
  border-radius: 3px;
  cursor: pointer;
}

.button + .button {
  margin-left: 10px;
}
